section.basic.bg-white
	div.row.center
		div.column.small-full.medium-half
			include ../img/sil.svg
			h1 A styling package to include and make your frontend-developer life a lot easier.
			h4 A styleguide by Sil van Diepen
			hr
			p Install it
			code npm install svd-styles
			p include it
			code @import ~/svd-style
			p run it!
			hr
			.button-group
				a.button(href="https://github.com/silvandiepen/svd-style") More on <strong>Github</strong>
				a.button.button--purple(href="https://github.com/silvandiepen/svd-style/archive/master.zip") Download
