.content {
	padding: grid(0.5) 0;
}

// when a link doesnt have styling it will be a default link used in content
a:not([class]) {
	text-decoration: underline;
}

hr {
	height: 1px;
	background-color: currentColor;
	color: currentColor;
	border: none;
	margin: 1rem 0;
	padding: 0;
}
