$colors-title: 'Social' !default; //
$colors-social-dribbble: #ea4c89 !default; //
$colors-social-facebook: #3b5998 !default; //
$colors-social-flickr: #ff0084 !default; //
$colors-social-foursquare: #0072b1 !default; //
$colors-social-git: #0f0d0e !default; //
$colors-social-googleplus: #dd4b39 !default; //
$colors-social-twitter: #00aced !default; //
$colors-social-linkedin: #007bb6 !default; //
$colors-social-instagram: #517fa4 !default; //
$colors-social-pinterest: #cb2027 !default; //
$colors-social-skype: #12a5f4 !default; //
$colors-social-snapchat: #fffc00 !default; //
$colors-social-soundcloud: #ff7700 !default; //
$colors-social-spotify: #2ebd59 !default; //
$colors-social-tumblr: #32506d !default; //
$colors-social-vimeo: #aad450 !default; //
$colors-social-vine: #00bf8f !default; //
$colors-social-vkontakte: #45668e !default; //
$colors-social-youtube: #bb0000 !default; //
$colors-social-wordpress: #21759b !default; //
$colors-social: (
	"dribbble": #ea4c89, 
	"facebook": #3b5998, 
	"flickr": #ff0084, 
	"foursquare": #0072b1, 
	"git": #0f0d0e, 
	"googleplus": #dd4b39, 
	"twitter": #00aced, 
	"linkedin": #007bb6, 
	"instagram": #517fa4, 
	"pinterest": #cb2027, 
	"skype": #12a5f4, 
	"snapchat": #fffc00, 
	"soundcloud": #ff7700, 
	"spotify": #2ebd59, 
	"tumblr": #32506d, 
	"vimeo": #aad450, 
	"vine": #00bf8f, 
	"vkontakte": #45668e, 
	"youtube": #bb0000, 
	"wordpress": #21759b
) !default; //