$colors-title: 'Svd' !default; //
$colors-svd-black: #050401 !default; //
$colors-svd-dark: #24132f !default; //
$colors-svd-white: #ffffff !default; //
$colors-svd-offwhite: #bab5be !default; //
$colors-svd-green: #10c565 !default; //
$colors-svd-blue: #1eb3e0 !default; //
$colors-svd-red: #eb0f33 !default; //
$colors-svd-brown: #aa834f !default; //
$colors-svd-yellow: #f5c505 !default; //
$colors-svd-orange: #f6790b !default; //
$colors-svd-pink: #ca1387 !default; //
$colors-svd-purple: #7329b1 !default; //
$colors-svd-turquoise: #3feac3 !default; //
$colors-svd: (
	"Black": #050401, 
	"Dark": #24132f, 
	"White": #ffffff, 
	"Offwhite": #bab5be, 
	"Green": #10c565, 
	"Blue": #1eb3e0, 
	"Red": #eb0f33, 
	"Brown": #aa834f, 
	"Yellow": #f5c505, 
	"Orange": #f6790b, 
	"Pink": #ca1387, 
	"Purple": #7329b1, 
	"Turquoise": #3feac3
) !default; //