$color-title: 'Vibrant' !default; //
$color-vibrant-bblack: #1f1e1d !default; //
$color-vibrant-dark: #363432 !default; //
$color-vibrant-white: #ffffff !default; //
$color-vibrant-offwhite: #eefef8 !default; //
$color-vibrant-green: #58f29a !default; //
$color-vibrant-blue: #2ae0e4 !default; //
$color-vibrant-red: #fe5165 !default; //
$color-vibrant-brown: #c08e69 !default; //
$color-vibrant-yellow: #f6ff5f !default; //
$color-vibrant-orange: #ffb95f !default; //
$color-vibrant-pink: #f258a0 !default; //
$color-vibrant-purple: #c757e7 !default; //
$color-vibrant-turquoise: #58f2bd !default; //
$color-vibrant: (
	"BBlack": #1f1e1d, 
	"Dark": #363432, 
	"White": #ffffff, 
	"Offwhite": #eefef8, 
	"Green": #58f29a, 
	"Blue": #2ae0e4, 
	"Red": #fe5165, 
	"Brown": #c08e69, 
	"Yellow": #f6ff5f, 
	"Orange": #ffb95f, 
	"Pink": #f258a0, 
	"Purple": #c757e7, 
	"Turquoise": #58f2bd
) !default; //