$families-title: 'Open Sans' !default; //
$families-name: 'opensans' !default; //
$families-source: 'google' !default; //
$families-1-title: 'Josefin Slab' !default; //
$families-1-name: 'josefinslab' !default; //
$families-1-source: 'google' !default; //
$families-2-title: 'Arvo' !default; //
$families-2-name: 'arvo' !default; //
$families-2-source: 'google' !default; //
$families-3-title: 'Lato' !default; //
$families-3-name: 'lato' !default; //
$families-3-source: 'google' !default; //
$families-4-title: 'Vollkorn' !default; //
$families-4-name: 'volkorn' !default; //
$families-4-source: 'google' !default; //
$families-5-title: 'Abril' !default; //
$families-5-name: 'abril' !default; //
$families-5-source: 'google' !default; //
$families-6-title: 'Ubuntu' !default; //
$families-6-name: 'ubuntu' !default; //
$families-6-source: 'google' !default; //
$families-7-title: 'PT Sans' !default; //
$families-7-name: 'ptsans' !default; //
$families-7-source: 'google' !default; //
$families-8-title: 'PT Serif' !default; //
$families-8-name: 'ptserif' !default; //
$families-8-source: 'google' !default; //
$families-9-title: 'Old Standard TT' !default; //
$families-9-name: 'oldstandardtt' !default; //
$families-9-source: 'google' !default; //
$families-10-title: 'Droid Sans' !default; //
$families-10-name: 'droidsans' !default; //
$families-10-source: 'google' !default; //
$families-11-title: 'Droid Sans' !default; //
$families-11-name: 'droidsans' !default; //
$families-11-source: 'google' !default; //
$families-12-title: 'Anivers' !default; //
$families-12-name: 'anivers' !default; //
$families-12-source: 'fontsquirrel' !default; //
$families-13-title: 'Anivers' !default; //
$families-13-name: 'anivers' !default; //
$families-13-source: 'fontsquirrel' !default; //
$families-14-title: 'Junction' !default; //
$families-14-name: 'junction' !default; //
$families-14-source: 'fontsquirrel' !default; //
$families-15-title: 'Fertigo' !default; //
$families-15-name: 'fertigo' !default; //
$families-15-source: 'fontsquirrel' !default; //
$families-16-title: 'Aller' !default; //
$families-16-name: 'aller' !default; //
$families-16-source: 'fontsquirrel' !default; //
$families-17-title: 'Audimat' !default; //
$families-17-name: 'audimat' !default; //
$families-17-source: 'fontsquirrel' !default; //
$families-18-title: 'Delicious' !default; //
$families-18-name: 'delicious' !default; //
$families-18-source: 'fontsquirrel' !default; //
$families-19-title: 'Prociono' !default; //
$families-19-name: 'prociono' !default; //
$families-19-source: 'fontsquirrel' !default; //
$families-20-title: 'Fontin' !default; //
$families-20-name: 'fontin' !default; //
$families-20-source: 'fontsquirrel' !default; //
$families-21-title: 'Fontin-Sans' !default; //
$families-21-name: 'fontinsans' !default; //
$families-21-source: 'fontsquirrel' !default; //
$families-22-title: 'Chunkfive' !default; //
$families-22-name: chunkfive !default; //
$families-22-source: 'fontsquirrel' !default; //
$families: (
	"title": 'Open Sans', 
	"name": 'opensans', 
	"source": 'google'
) !default; //