$setting-output-css: true !default; //
$setting-output-background-colors: true !default; //
$setting-output-text-colors: true !default; //
$setting-output-custom-properties: true !default; //
$setting-output: (
	"css": true, 
	"background-colors": true, 
	"text-colors": true, 
	"custom-properties": true
) !default; //