:root{
	--nav-trigger-bg: var(--color-dark);
}


/* SVG elements
*/
.section-intro svg {
	width: 12.5vw;
	height: 12.5vw;
}
svg {
	width: 100%;
}
svg polygon,
svg rect,
svg path {
	fill: var(--color-blue);
}

.section-grid .column.example {
	border: 1px solid red;
}
/* The generator
*/
.generator {
	border-radius: 1rem;
	overflow: hidden;
}
.generator__example {
	padding: 2rem;
	background-color: white;
	display: flex;
	justify-content: center;
}
.generator__content {
	display: flex;
	align-content: center;
}
.generator__tools {
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.25);
}

/* Example rows and columns
*/
.example.row {
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: 2em;
	padding: 2px;
}
.example.row + .example.row {
	margin-top: 1rem;
}
.example.column {
	padding: 1rem 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
}
.example.column:first-child {
	border-radius: 2em 0 0 2em;
}
.example.column:last-child {
	border-radius: 0 2em 2em 0;
}
.example.column:first-child:last-child {
	border-radius: 2em;
}
.example.column + .example.column {
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
