// a map-set function (not included with Sass)
@function map-set($map, $key, $value) {
	$new: ($key: $value);
	@return map-merge($map, $new);
}

@function to-map($list) {
	@if type-of($list) == 'list' {
		$newmap: ();
		@each $item in $list {
			$newmap: map-merge($newmap, ('#{nth($item,1)}': nth($item, 2)));
		}
		@return $newmap;
	}
	@elseif type-of($list) == 'map' {
		@return $list;
	} @else {
		@return ();
	}
}
