input {
	&[type='text'],
	&[type='email'],
	&[type='tel'],
	&[type='url'] {
		@extend %default-input;
		&:not(:placeholder-shown) {
			border: 1px solid color(Black, 0.25);
		}
	}
}
* {
	input[type='radio'] {
		@include input-radio(1rem,1rem,0,0.25rem,color(White),color(Blue),100%);
		@include input-radio-body {
			box-shadow: 0 0 0 1px color(Black, 0.2) inset;
			top: 50%;
		}
		@include input-radio-check {
			top: calc(50% + 0.25rem);
		}
		@include input-radio-label {
			position: relative;
			padding-left: 2rem;
		}
	}
	input[type='checkbox'] {
		@include input-checkbox(1rem,1rem,0,0.25rem,color(White),color(Blue),0%);
		@include input-checkbox-body {
			box-shadow: 0 0 0 1px color(Black, 0.2) inset;
			top: 50%;
		}
		@include input-checkbox-check {
			top: calc(50% + 0.25rem);
		}
		@include input-checkbox-label {
			position: relative;
			padding-left: 2rem;
		}
	}
}

input {
	&[type='submit'],
	&[type='button'] {
		@extend %default-button;
	}
}
