section.basic.bg-yellow#buttons
	div.row.center
		div.column.small-full.medium-three-quarter.large-half
			h3 Sized Buttons
			.button-group
				button.button--large Large button
				button.button--medium Normal button
				button.button--small Large button
				
			h3 Shaped Buttons
			.button-group
				button.button--rounded Rounded button
				button.button--round 
					span 
						span Round button
						
			h3 Colored Buttons
			.button-group
				button(v-for="(color, name) in colors.default[0]", v-bind:class="'button--'+name") {{ name }} button

			h3 Basic icon buttons
			.button-group
				button.button-basic--play Play
				button.button-basic--stop Stop
				button.button-basic--arrow-right To the right
				button.button-basic--arrow-left To the left

	div.row.center
		div.column.small-full.medium-three-quarter.large-half
			h3 Wooohooo generator your button
			div.row.generator
				div.column.small-full.medium-half.generator__example
					div.generator__content
						div
							button(class="[{ button.size ? 'button' : 'button--'+button.size }]") {{ button.text }} 
							p {{button.size}}
							p {{button.icon}}
							p {{button.color}}
					
				div.column.small-full.medium-half.generator__tools
					form 
						label Text
						input(type="text", v-model="button.text")
							
						label Size
						select(v-model="button.size")
							option(value="small") Small
							option(value="normal") Normal
							option(value="large") Large
								
						label Icon
						select(v-model="button.icon")
							option Icon
							
						label Color
						select(v-model="button.color")
							option(v-for="(color, name) in colors.default[0]", value="name") {{ name }}

					
					
