section.basic.bg-white#colors
	div.row.center
		div.column.small-full.medium-three-quarter
			h2 Colors
			h3 Default 
			ul.row.card__row
				li(class="card__holder column small-half medium-third xlarge-quarter color" v-for="(color, name) in colors.default[0]")
					.card.card--expand-main(v-bind:class="'bg-'+name")
						header
							h4 {{name}}
						main 
							dl
								dt custom property
								dd 
									code --color-{{name}}
								dt scss variable
								dd 
									code $colors-social-{{name}}
								dt scss function
								dd 
									code color({{name}})
						
				
			h3 Social
			ul.row.card__row
				li(class="card__holder column small-half medium-third xlarge-quarter color" v-for="(color, name) in colors.social[0]")
					.card.card--expand-main(v-bind:class="'bg-'+name")
						header
							h4 {{name}}
						main 
							dl
								dt custom property
								dd 
									code --color-{{name}}
							dl
								dt scss variable
								dd 
									code $colors-social-{{name}}
							dl
								dt scss function
								dd 
									code color({{name}})
