section.basic.bg-white#html-elements
	div.row.center
		div.column.small-full.medium-three-quarter
			h3 blockquote
			blockquote Mauris tincidunt ligula eget magna lobortis porttitor. Pellentesque mattis augue quis nisi varius, ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu, placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis urna a neque convallis pretium. Nam eros sapien, cursus eget nulla rutrum, consequat posuere mauris. Morbi ac tortor at ante aliquam tincidunt.
section.basic.bg-white#html-elements2
	div.row.center
		div.column.small-full.medium-three-quarter
			h3 Ordered list
			ol
				li Mauris tincidunt 
				li Ligula eget 
				li Magna lobortis porttitor. 
				li Pellentesque mattis augue 
				li Quis nisi varius
				li Ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu.
				li placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. 
				li Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. 
				li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				
	div.row.center
		div.column.small-full.medium-three-quarter
			h3 Unordered list
			ul
				li Mauris tincidunt 
				li Ligula eget 
				li Magna lobortis porttitor. 
				li Pellentesque mattis augue 
				li Quis nisi varius
				li Ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu.
				li placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. 
				li Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. 
				li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				
section.basic.bg-white
	div.row.center
		div.column.small-full.medium-three-quarter
			h3 Table
			table
				thead
					tr
						th Mauris tincidunt 
						th Ligula eget 
						th Magna lobortis porttitor. 
						th Pellentesque mattis augue
				tbody
					tr
						td Quis nisi varius
						td Ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu.
						td placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. 
						td Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. 
					tr
						td Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. 
						td Ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu.
						td Quis nisi varius
						td placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. 
					tr
						td Quis nisi varius
						td Ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu.
						td placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. 
						td Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. 
				tfoot
					tr
						th Mauris tincidunt 
						th Ligula eget 
						th Magna lobortis porttitor. 
						th Pellente

	div.row.center
		div.column.small-full.medium-three-quarter
			h3 Responsive Table
			table.responsive
				thead
					tr
						th Mauris tincidunt 
						th Ligula eget 
						th Magna lobortis porttitor. 
						th Pellentesque mattis augue
				tbody
					tr
						td Quis nisi varius
						td Ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu.
						td placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. 
						td Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. 
					tr
						td Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. 
						td Ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu.
						td Quis nisi varius
						td placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. 
					tr
						td Quis nisi varius
						td Ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu.
						td placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. 
						td Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. 
				tfoot
					tr
						th Mauris tincidunt 
						th Ligula eget 
						th Magna lobortis porttitor. 
						th Pellente
