section.basic.bg-white
	div.row.center
		div.column.small-full.medium-three-quarter
			blockquote Mauris tincidunt ligula eget magna lobortis porttitor. Pellentesque mattis augue quis nisi varius, ac tristique magna consequat. Praesent mi diam, ornare a pellentesque eu, placerat non nibh. Aliquam commodo magna vel nisi porttitor condimentum. Aenean vitae velit at nulla dapibus pulvinar quis sed lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis urna a neque convallis pretium. Nam eros sapien, cursus eget nulla rutrum, consequat posuere mauris. Morbi ac tortor at ante aliquam tincidunt.
