section.basic.bg-pink
	div.row.center
		div.column.small-full.medium-three-quarter
			div.row
				div.column
					label Navigation type
					select
						option Basic
						option Left
						option Flow
						option Mobile
						
				div.column
					label Show
					select
						option Always
						option Small-only
						option Medium-only
						option Mobile
