section.basic.bg-orange#show-more
	div.row.center
		div.column.small-full.medium-three-quarter.large-half
			div.content
				h3 Show more 
				p As the section above here, with the easing. We don't want to show all because that would take too much of the page. This section has a "Show more component". The settings and their defaults here:
				table
					tr
						td 
							code --shadow-height
						td default: 200px
					tr
						td 
							code --shadow-color
						td default: white
						
					tr
						td 
							code --shadow-color-transparent
						td default: rgba(255,255,255,0)
						
					tr
						td 
							code --show-more
						td default: 'show more'
				
					tr
						td 
							code --show-less
						td default: 'show less'
						
					tr
						td 
							code --expanded-height
						td default: '500vh'
						
					tr
						td 
							code --max-height
						td default: '50vh'
