.pattern-dots {
	background-image: radial-gradient(
			var(--pattern-color-primary) 25%,
			transparent 25%
		),
		radial-gradient(
			var(--pattern-color-primary) 25%,
			var(--pattern-color-secondary) 25%
		);
	background-repeat: repeat;
	background-size: calc(var(--pattern-size) * 4) calc(var(--pattern-size) * 4),
		calc(var(--pattern-size) * 4) calc(var(--pattern-size) * 4);
	background-position: 0 0,
		calc(var(--pattern-size) * 2) calc(var(--pattern-size) * 2);
}
