:root {
	--pattern-width: .5rem;
	--pattern-space: 1rem;
	--pattern-color-primary: white;
	--pattern-color-secondary: transparent;
	--pattern-total: calc((var(--pattern-width) * 2) + var(--pattern-space));
	--pattern-size: 1rem;
}
@import
	"dots",
	"checkered",
	"cubes",
	"zigzag",
	"houndstooth",
	"lines";
