doctype html
html
	head
		title svd.im - styleguide
		link(rel="stylesheet",type="text/css",href="style.css")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		script(src="https://unpkg.com/vue")

	body
		main(id="app")
			include pages/intro.pug
			include pages/grid.pug
			include pages/forms.pug
			include pages/typography.pug
			section.basic.bg-white
				div.row.center
					div.column.small-full.medium-three-quarter
						h2 Colors
						h3 Default 
						ul.row.card__row
							li(class="card__holder column small-half medium-third xlarge-quarter color" v-for="(color, name) in colors.default[0]")
								.card.card--expand-main(v-bind:class="'bg-'+name")
									header
										h4 {{name}}
									main 
										dl
											dt custom property
											dd 
												code --color-{{name}}
											dt scss variable
											dd 
												code $colors-social-{{name}}
											dt scss function
											dd 
												code color({{name}})
									
							
						h3 Social
						ul.row.card__row
							li(class="card__holder column small-half medium-third xlarge-quarter color" v-for="(color, name) in colors.social[0]")
								.card.card--expand-main(v-bind:class="'bg-'+name")
									header
										h4 {{name}}
									main 
										dl
											dt custom property
											dd 
												code --color-{{name}}
										dl
											dt scss variable
											dd 
												code $colors-social-{{name}}
										dl
											dt scss function
											dd 
												code color({{name}})
									
			include pages/easings.pug
			include pages/show-more.pug
			include pages/patterns.pug
						
	script(type="text/javascript")
		include script.js
		
		
	style .section-intro svg{width: 12.5vw; height: 12.5vw; } svg{ width: 100%; } svg polygon, svg rect, svg path{ fill: var(--color-blue); } 
