$settings-prefix: '' !default; //
$settings-border-radius: 3px !default; //
$settings-base-font-size: 16px !default; //
$settings-base-font-path: '/fonts' !default; //
$settings-base-image-path: '/fonts' !default; //
