$assets-button-font-family: 'RobotoCondensed, Roboto Condensed, Helvetica Neue Condensed, Impact, sans-serif' !default; //
$assets-button-background-color: rgba(5,4,1,.5) !default; //
$assets-button-padding: 4.166666666666667vw 8.333333333333334vw 12.5vw 20.833333333333336vw !default; //
$assets-button-text-transform: uppercase !default; //
$assets-button-font-size: 14px !default; //
$assets-button-line-height: 1 !default; //
$assets-button-font-weight: 600 !default; //
$assets-button-special-font-family: 'Roboto, Helvetica Neue, helvetica, sans-serif' !default; //
$assets-button-special-background-color: 'transparent' !default; //
$assets-button-special-padding: 4.166666666666667vw 8.333333333333334vw 12.5vw 20.833333333333336vw !default; //
$assets-button-special-text-transform: none !default; //
$assets-button-special-font-size: 16px !default; //
$assets-button-special-line-height: 1 !default; //
$assets-button-special-font-weight: 400 !default; //
