/*
  There where it all begins, the normalizer
*/

// @import '~/modern-normalize/modern-normalize.css';

/*
  Import the grid
*/
@import 'settings/index';
@import 'functions/index';
@import 'mixins/index';
@import 'grid/index';
@import 'typography/index';
@import 'components/index';
@import 'spacing';

body,
html {
	font-family: $system-fonts;
	background-color: color(Offwhite);
	color: color(Dark);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

// Create css variables

:root {
	@each $color-name, $color-value in $colors-default {
		$variable: '--color-#{to-lower-case($color-name)}';
		//hex
		#{$variable}: $color-value;
		//rgb
		#{$variable}-r: red($color-value);
		#{$variable}-g: green($color-value);
		#{$variable}-b: blue($color-value);
		#{$variable}-rgb: red($color-value), green($color-value), blue($color-value);
		.bg-#{$color-name} {
			background-color: #{$color-value};
		}
	}
	// Social Colors in variables
	@each $color-name, $color-value in $colors-social {
		$variable: '--color-#{to-lower-case($color-name)}';
		//hex
		#{$variable}: $color-value;
		//rgb
		// #{$variable}-r: red($color-value); #{$variable}-g: green($color-value); #{$variable}-b: blue($color-value); #{$variable}-rgb: red($color-value), green($color-value), blue($color-value);
		.bg-#{$color-name} {
			background-color: #{$color-value};
		}
	}
}

main.center {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
