%default-button {
	display: inline-block;
	border-radius: $base-border-radius;
	width: auto;
	padding: 0.75rem 1.5rem;
	background-color: color(Blue);
	color: color(White);
	border: none;
	font-size: 1rem;
	cursor: pointer;
	line-height: 1;
	border: 1px solid darken(color(Blue), 10%);
	text-decoration: none;
	&:hover {
		background-color: darken(color(Blue), 10%);
	}
}
button {
	-webkit-appearance: none;
}
.button,
button {
	@extend %default-button;
}

.button {
	@each $color-name, $color-value in $colors-default {
		&--#{to-lower-case($color-name)},
		&--#{$color-name} {
			border: 1px solid darken($color-value, 10%);
			background-color: $color-value;
			color: contra($color-value);
			&:hover {
				background-color: darken($color-value, 10%);
			}
		}
	}
}
